<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ipcclient">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPCClient"
        tools:targetApi="31">
        <activity android:name=".exampleserver.IPCServerActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".exampleserver.IPCServerService"
            android:exported="true">
            <intent-filter>
                <action android:name="aidlexample" />
                <action android:name="messengerexample"/>
                <action android:name="broadcastexample"/>
            </intent-filter>
        </service>
        <receiver android:name=".exampleserver.IPCBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.POST_NOTIFICATIONS">
            <intent-filter>
                <action android:name="com.example.ipcclient"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>